

  <h3>Demo of Angular Elements in ASP.NET Core</h3>

  @section Scripts {
    <script type="text/javascript" src="./modal.js"></script>
    <link rel="stylesheet" type="text/css" href="./styles.css"/>
  }

  <button-element></button-element>

<dialog-element></dialog-element>